.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 50%;

}
.nav-link{
    text-decoration: none;
    color: white;
}
.item-list{
    list-style-type: none;
}
.nav-bar{
    background-color: rgb(61, 102, 178);
    padding: 1vw;
}